@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');



/* Global setup */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.main-banner {
    background-image: url(./images/Rectangle\ 532.png);
    height: 380px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 68px;
}






/* new-arrival */
.card {
    height: 412px;
    width: 280px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 0.2s ease;
}

.card-img-top {
    background-color: #F1F1F1 !important;
}

.card-footer {
    background-color: rgba(70, 102, 86, 0.3) !important;
}

.card-icon a {
    text-decoration: none;
    color: #333;
}

.arrival-card-text {
    width: 50%;
}

.card-text span {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.card-text small {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.card-icon i {
    font-size: 24px;
}

.new-arrival-title {
    font-family: 'Work Sans';
    font-weight: 600;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transform: translateY(-3px);
}

.title {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 24px;
}





/* MOBILE RESPONSIVE */
@media only screen and (max-width: 768px) {

    .main-banner {
        background-image: url(./images/Rectangle\ 532.png);
        height: 180px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 68px;
    }

}







/* TAP RESPONSIVE */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* new-arrival */
    .new-arrival-container {
        min-height: 711px;
        background-color: rgba(70, 102, 86, 0.3);
        width: 100%;
    }

    .card {
        height: 180px;
        width: 220px;
        margin: auto;
    }

    .card-text {
        width: 75%;
    }

    .card-icon i {
        font-size: 17px;
    }
}