@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');



/* Global setup */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    min-height: 61px;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    width: 75px;
    height: 41px;
}

.navbar-nav a {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #14171F;
}

.navbar-nav a:hover {
    color: #F9995D;
}