@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');



/* Global setup */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.porduct-size-section {
    margin-top: 100px;
}


.title {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 24px;
}

.next-btn {
    background-color: #1B5A3A !important;
}

.option-input {
    width: 50px !important;
    height: 50px !important;
    background-color: #FF3737 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50px !important;

}

.input[type="checkbox"]{
    outline: none !important;
}


















/* MOBILE RESPONSIVE */
@media only screen and (max-width: 768px) {}


/* TAP RESPONSIVE */
@media screen and (min-width: 768px) and (max-width: 1024px) {}